:root {
    --footer-height: calc(3vw + 40px);
    --accent-color: #EC1F26;   
    --text-color: #EEEFEA; 
    --bg-color: #272727;    
}

html, body {
   
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background-color: #000000;
    -ms-overflow-style: none;    /* IE + Edge */
    scrollbar-width: none;       /* Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;               /* Chrome, Safari, Edge */
}

.main-content {
    position: absolute;
    top: 0;
    bottom: var(--footer-height);
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* -------------------------- HEADER --------------------------- */
.headerbox { width: 100%; }

.linksbox {
    margin: 1.5vw;
    margin-bottom: calc(1vw - 0.35vw);
    margin-top: 1vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5vw;
}

.contact {
    z-index: 90;
    background-color: rgba(0,0,0,0);
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
    border-radius: 8px;
    font-size: 1.1vw;
    font-weight: bold;
    padding: 0.3vw 0.6vw;
    padding-top: 0.4vw;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    transition: background-color 0.1s ease, color 0.3s ease;
    cursor: pointer;
}


.formbox-mobile {
    z-index: 90;
    background-color: rgba(0,0,0,0);
    border: 1px solid white;
    color: white;
    border-radius: 20px;
    font-size: 3vw;
    font-weight: bold;
    padding: 1.5vw 3vw;
   
   
 
    transition: background-color 0.1s ease, color 0.3s ease;
    cursor: pointer;
}

.formbox {
    z-index: 90;
    background-color: rgba(0,0,0,0);
    border: 1px solid white;
    color: white;
    border-radius: 20px;
    font-size: 1.1vw;
    font-weight: bold;
    padding: 0.3vw 0.6vw;
    padding-top: 0.4vw;
    margin: 0 1vw 0 0;
 
    transition: background-color 0.1s ease, color 0.3s ease;
    cursor: pointer;
}

.formbox:hover {
    border-color: var(--accent-color);
    color: var(--accent-color);
}

.formbox.active {
    border-color: var(--accent-color);
    color: var(--accent-color);
}

.contact:hover {
    background-color: var(--accent-color);
    color: #000;
}

.cornerbutton {
    background: none;
    border: none;
    cursor: pointer;
    padding-right: 0px;
    padding-left: 0px;
    z-index: 90;
}


.cornerbutton img {
    transition: filter 0.3s ease;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

.cornerbutton:hover img {
  filter: brightness(0) saturate(100%) invert(11%) sepia(69%) saturate(6969%) hue-rotate(353deg) brightness(119%) contrast(85%);
}



.whiteicon {
    width: 2vw;
    height: 2vw;
    filter: brightness(0) invert(1);
}

/* -------------------------- REST --------------------------- */
.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5vw;
    gap: 0.5vw;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #939393;
}

@font-face {
    font-family: 'akira';
    src: url('fonts/Akira.otf') format('opentype');
}
.akira { font-family: 'akira', sans-serif; }

.grid-container {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 1vw;
    padding: 0.75vw;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    overflow: hidden;
}

.box1, .box2, .box3 {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.box1 { grid-column: span 2; border-right: 1px solid #939393; }
.box2 { grid-column: span 2; border-right: 1px solid #939393; }
.box3 { grid-column: span 4; }

.scroll-box {
    z-index: 80;
    position: relative;
    flex: 1;
    overflow-y: auto;
    padding: 0.75vw;
    padding-right: 1.75vw;
    padding-top: 0px;
    mask-image: linear-gradient(
        to bottom,
        transparent 0px,
        black 2vw,
        black calc(100% - 2vw),
        transparent 100%
    );
    -webkit-mask-image: linear-gradient(
        to bottom,
        transparent 0px,
        black 1vw,
        black calc(100% - 2vw),
        transparent 100%
    );
}

.scroll-box::-webkit-scrollbar { display: none; }

.subtitle {
    z-index: 90;
    margin-top: 0;
    padding-left: 0.75vw;
    font-size: 1vw;
    color: #959595;
    font-weight: bold;
    margin-bottom: 1vw;
    font-family: 'Lol-Bold', monospace;
}

.project-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.item {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: calc(1vw + 5px) 0;
    background-color: rbga(0,0,0,0);
   
    color: #fff;
    border-top: 1px solid #939393;
}

/* SVG stacked behind left text */
.bg-icon {
    position: absolute;
    left: 0;
    top: 50%;
    width: 1.2vw;          /* scales with viewport width */
    height: 1.2vw;         /* scales with viewport width */
    min-width: 5px;        /* prevents being too small */
    min-height: 5px;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.28s ease, transform 0.28s ease;
    z-index: 0;
    pointer-events: none;
}

.bg-icon img {
    width: 100%;            /* fill the container */
    height: 100%;           /* fill the container */
    object-fit: contain;    /* maintain aspect ratio */
    display: block;         /* remove inline spacing */
}

.item.active .bg-icon {
    opacity: 0.95;
    transform: translateY(-50%);
}

/* clickable text */
.clickable {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    position: relative; /* for absolute left */
    align-items: center;
    cursor: pointer;
    padding-left: 2vw; /* leave space for left + SVG */
}

/* left text */
.item .left {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: calc(1vw);
    z-index: 2;
    transition: transform 0.25s ease, color 0.15s ease;
    font-family: 'Lol-Bold', monospace;
}

/* right text pinned to far right */
.item .right {
    margin-left: auto; /* push to far right */
    text-align: right;
    opacity: 0.7;
    font-size: calc(0.8vw + 2px);
    font-family: 'ConsolasCustom', monospace;
    transition: color 0.1s ease;
}

@font-face {
    font-family: 'ConsolasCustom';
    src: url('fonts/consolas.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Lol-Bold';
    src: url('fonts/Lol-Bold.otf') format('opentype');
    font-style: normal;
}

@font-face {
    font-family: 'Lol-Regular';
    src: url('fonts/Lol-Regular.otf') format('opentype');
    font-style: normal;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--footer-height);
    background-color: #000000;
    text-align: center;
    font-size: calc(0.8vw + 5px);
    color: #fff;
}


.footer-grid {
   
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    justify-content: center;
    gap: 2vw;
    margin-top: calc(0.3vw + 7px);
    font-family: Arial, sans-serif;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
}

.footer-col {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.footer-link {
    color: #ffffff;
    text-decoration: none;
    font-size: calc(0.7vw + 2px);
    transition: color 0.2s ease;
    font-family: 'ConsolasCustom', monospace;
    text-align: left;

    position: relative; /* required for pseudo-element positioning */
}

.footer-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.1vw;      /* distance from text */
    width: 0%;
    height: 1px;       /* thickness of underline */
    background-color: var(--accent-color);
    transition: width 0.3s ease;
}

.footer-link:hover {
    color: var(--accent-color);
}

.footer-link:hover::after {
    width: 100%;       /* animate underline to full width */
}

.accent {
    color: var(--accent-color);
}

.footer-muted {
    font-size: 0.8vw;
    opacity: 0.5;
    text-align: end;
}

/* Optional: mobile-friendly */


.para { 
    color: white; 
    font-size: calc(1vw + 2px); 
    font-family: 'Lol-Regular', monospace;
    font-weight: 100;
}
.headerstyle {
    filter: brightness(0) invert(1);
    width: calc(100% - 3vw);
    height: auto;
    display: block;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    margin-top: 0.65vw;
    margin-bottom: 0.65vw;
}

.white-g {
    filter: brightness(0) invert(1);
    width: 0.7vw;
    height: auto;
}

/* scrolling text */
.scrolling-text-container {
    overflow: hidden;
    flex: 1;
    margin-left: 41vw;
    margin-right: 5vw;
    position: relative;
    height: 1.5vw;
    display: flex;
    align-items: center;
}

.scrolling-text {
    display: inline-block;
    white-space: nowrap;
    color: var(--accent-color);
    font-size: 1vw;
    font-weight: bold;
    animation: scroll 20s linear infinite;
    filter: blur(1.2px);
    font-family: 'Lol-Regular', monospace;

}

.scrolling-text-container::before,
.scrolling-text-container::after {
    content: "";
    position: absolute;
    top: 0;
    width: 0.5vw;
    height: 100%;
    z-index: 3;
    pointer-events: none;
}

.scrolling-text-container::before {
    left: 0;
    background: linear-gradient(to right, #000, transparent);
}

.scrolling-text-container::after {
    right: 0;
    background: linear-gradient(to left, #000, transparent);
}

@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}

.grid-fade-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4vw;
    pointer-events: none;
    background: linear-gradient(to bottom, transparent, black);
    z-index: 10;
}



.main-content-mobile { display: none; }
.main-content { display: flex; }
.main-footer { display: block; }
@media (max-width: 800px) {
    .main-footer { display: none; }
    .main-content { display: none; }
    .main-content-mobile { display: block; }
}


.headerbox-mobile{
    width: 92vw;
    margin-left: 4vw;
    margin-right: 4vw;
}

.linksbox-mobile {
   
    margin-bottom: calc(1vw - 0.35vw);
    margin-top: 4vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5vw;
}

.cornerbutton-mobile {
    background: none;
    border: none;
    cursor: pointer;
    
    z-index: 90;
}

.whiteicon-mobile {
    width: 6vw;
    height: 6vw;
    filter: brightness(0) invert(1);
}

.divider-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4vw;
    margin-bottom: 4vw;
    gap: 2vw;
}

.line-mobile {
    width: 100%;
    height: 1px;
    background-color: #939393;
}

.headerstyle-mobile {
    filter: brightness(0) invert(1);
    width: 92vw;
    height: auto;
    display: block;
   
    margin-top: 0.65vw;
    margin-bottom: 0.65vw;
}


.contact-mobile {
    z-index: 90;
    background-color: rgba(0,0,0,0);
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
    border-radius: 8px;
    font-size: 4vw;
    font-weight: bold;
    padding: 1vw 2vw;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    transition: background-color 0.1s ease, color 0.3s ease;
}
.contact-mobile:hover {
    background-color: var(--accent-color);
    color: #000;
}
.white-g-mobile {
    filter: brightness(0) invert(1);
    width: 2.5vw;
    height: auto;
}

.scrolling-text-container-mobile {
    overflow: hidden;
    flex: 1;
  
    position: relative;
    height: auto;
    display: flex;
    align-items: center;
}

.scrolling-text-mobile {
    display: inline-block;
    white-space: nowrap;
    color: var(--accent-color);
    font-size: 4vw;
    font-weight: bold;
    animation: scroll 20s linear infinite;
    filter: blur(1.2px);
    font-family: 'Lol-Regular', monospace;
}

.scrolling-text-container-mobile::before,
.scrolling-text-container-mobile::after {
    content: "";
    position: absolute;
    top: 0;
    width: 5vw;
    height: 100%;
    z-index: 3;
    pointer-events: none;
}

.scrolling-text-container-mobile::before {
    left: 0;
    background: linear-gradient(to right, #000, transparent);
}

.scrolling-text-container-mobile::after {
    right: 0;
    background: linear-gradient(to left, #000, transparent);
}

.mobile-content-container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin-top: 7.5vw;
}

.mobile-art{
    position: relative;
    z-index: 0;
    width: 100vw;
    height: auto;
    margin-bottom: 3vw;
}

.project-list-mobile {
   
    width: 100vw;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 8vw;
}

.item-mobile {
   position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: calc(3.5vw + 5px) 0;
    background-color: rgba(0,0,0,0);
 
    color: #fff;
    border-top: 1px solid #939393;
    margin-left: 4vw;
    margin-right: 4vw;
    
    overflow: hidden;
    max-height: 14vw;
    transition: all 0.35s ease;
}


/* SVG stacked behind left text */
.bg-icon-mobile {
    position: absolute;
    left: 0;
    top: 50%;
    width: 1.2vw;          /* scales with viewport width */
    height: 1.2vw;         /* scales with viewport width */
    min-width: 5px;        /* prevents being too small */
    min-height: 5px;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.28s ease, transform 0.28s ease;
    z-index: 0;
    pointer-events: none;
}

.subtitle-mobile {
    z-index: 90;
    margin-left: 4vw;  
    font-size: 4vw;
    color: #959595;
    font-weight: bold;
    font-family: 'Lol-Bold', monospace;
   
}

.clickable-mobile {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    position: relative; /* for absolute left */
    align-items: center;
    cursor: pointer;
     /* leave space for left + SVG */
}
.item-mobile .left {
    position: absolute;
    left: 0;
    top: 50%;
    font-family: 'Lol-Bold', monospace;
    transform: translateY(-50%);
    font-size: calc(3vw + 2px);
    z-index: 2;
    transition: transform 0.25s ease, color 0.15s ease;
}

/* right text pinned to far right */
.item-mobile .right {
    margin-left: 40vw; /* push to far right */
    text-align: left;
    opacity: 0.7;
    font-size: calc(2.8vw + 2px);
    font-family: 'ConsolasCustom', monospace;
    transition: color 0.1s ease;
    font-weight: normal;
}


.expand-content {
    opacity: 0;
    transform: translateY(-5px);
    transition: opacity 0.35s ease, transform 0.35s ease;
    z-index: 130;
}

.item-mobile.open .expand-content {
    opacity: 1;
    transform: translateY(0);
}



.item-mobile .exp-button {
    margin-left: auto;
    height: 6vw;
    width: auto;
    transition: color 0.1s ease;
}

.para-mobile { 
    color: white; 
    font-size: calc(4vw + 2px); 
    margin-left: 4vw; 
    margin-right: 4vw;
    margin-top: 0px;
    margin-bottom: 0px;
 font-family: 'Lol-Regular', monospace;
}

.footer-mobile-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;   /* 2 equal columns */
    gap: 2vw;                          /* space between items */
    padding: 4vw 4vw;                  /* side padding */
    width: 100%;
    box-sizing: border-box;
}

.footer-link-mobile {
    color: #ffffff;
    text-decoration: underline;
    font-size: calc(3.7vw + 2px);
    transition: color 0.2s ease;
    font-family: 'ConsolasCustom', monospace;
    text-align: left;

    position: relative; /* required for pseudo-element positioning */
}



  /* Make canvas sit on top but allow clicks to pass through */
   #noiseCanvas {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      z-index: 5;
    }
/* --- Overlay background dimmer --- */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.55);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    z-index: 90;
    pointer-events: auto;
}

.body-lock {
    overflow: hidden;       /* Disable scrolling */
      /* Disable all clicks on background */
}



/* --- Slide-in Contact Panel --- */
#contact-panel-mobile {
    display: none;
    position: fixed;
    top: 0;
    right: -100vw; /* Initially hidden off-screen */
    width: 100vw;
    height: 100vh;
    background: #000;
    color: white;
    padding: 4vw;
    padding-top: 0vw;
    box-sizing: border-box;
    transition: right 0.4s ease;
    z-index: 100;
    
    flex-direction: column;
    scrollbar-width: 0px;
}


#contact-panel-mobile::-webkit-scrollbar { display: none; }

/* Close button */
#close-contact-mobile {
    z-index: 90;
    background-color: rgba(0,0,0,0);
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
    border-radius: 8px;
    font-size: 4vw;
    font-weight: bold;
   padding: 1vw 2vw;
   
    margin-left: auto;
    align-items: center;
    justify-content: center;
    transition: background-color 0.1s ease, color 0.3s ease;
    cursor: pointer;
}
.contact-header-mobile {
    padding-bottom: 0.5vw;
    z-index: 130; 
    padding-top: 4vw;
    position: fixed; 
    width: 92vw; 
    height: auto; 
    background-color: black; 
    display: flex; 
    flex-direction: column;
}
#close-contact-mobile:hover {
    background-color: var(--accent-color);
    color: #000;
}

/* Form styling */
#contact-panel-mobile form {
  
    display: flex;
    flex-direction: column;
    
}



/* --- Slide-in Contact Panel --- */
#contact-panel {
    display: none;
    position: fixed;
    top: 0;
    right: -50.5vw; /* Initially hidden off-screen */
    width: 50.5vw;
    height: 100vh;
    background: #000;
    color: white;
    padding: 1.5vw;
    padding-top: 0vw;
    box-sizing: border-box;
    transition: right 0.4s ease;
    z-index: 100;
    
    flex-direction: column;
    scrollbar-width: 0px;
}


#contact-panel::-webkit-scrollbar { display: none; }

/* Close button */
#close-contact {
    z-index: 90;
    background-color: rgba(0,0,0,0);
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
    border-radius: 8px;
    font-size: 1.1vw;
    font-weight: bold;
    padding: 0.3vw 0.6vw;
    padding-top: 0.4vw;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    transition: background-color 0.1s ease, color 0.3s ease;
    cursor: pointer;
}
.contact-header{
    padding-bottom: 0.5vw;
    z-index: 130; 
    padding-top: 1vw;
    position: fixed; 
    width: 47.5vw; 
    height: auto; 
    background-color: black; 
    display: flex; 
    flex-direction: column;
}
#close-contact:hover {
    background-color: var(--accent-color);
    color: #000;
}

/* Form styling */
#contact-panel form {
  
    display: flex;
    flex-direction: column;
    
}

#contact-panel-mobile label {
  font-size: 2vw;
  margin-bottom: 2vw;
}


.contact-panel-input-mobile {
    
    height: 8vw;
  
    padding-left: 2vw;
    padding-right: 2vw;
    border: 2px solid #444;
    background: #222;
    color: white;
    border-radius: 2vw;
    margin-bottom: 3vw;
    font-size: 2.5vw;
    font-weight: bold;
    font-variant: petite-caps;

}


.contact-panel-input-mobile:focus {
    border-color: var(--accent-color); /* Change to any color you like */
    outline: none; /* Optional: removes default focus outline */
}


.contact-panel-input,
.contact-panel-textarea {
    width: 96%;
    padding: .8vw;
    border: 1px solid #444;
    background: #222;
    color: white;
    border-radius: .4vw;
}

.contact-panel-input:focus,
.contact-panel-textarea:focus {
    border-color: var(--accent-color); /* Change to any color you like */
    outline: none; /* Optional: removes default focus outline */
}

#contact-panel button[type="submit"] {
    padding: 1vw;
    background: var(--accent-color);
    border: none;
    color: black;
    cursor: pointer;
    border-radius: .4vw;
    font-weight: bold;
}

#contact-panel-mobile button[type="submit"] {
    padding: 2vw;
    background: rgba(0,0,0,0);
    border: none;
    color: var(--accent-color);
    cursor: pointer;
    border-radius: 2vw;
    font-weight: bold;
    border: var(--accent-color) 2px solid;
}

/* --- Active class toggles --- */
#overlay.active {
    opacity: 1;
    visibility: visible;
}

#contact-panel.active {
    right: 0;
    overflow: auto;
}
#contact-panel-mobile.active {
    right: 0;
    overflow: auto;
}

.noise-lowered {
    z-index: 100 !important;
}

.wide-input{
    width:96%;
}

.two-col {
    display: flex;
    gap: 5%;
}

.two-col .col {
    width: 46.5%;
    display: flex;         /* NEW */
    flex-direction: column;/* NEW */
}

label{
    font-family: 'ConsolasCustom', monospace;
    font-size: 0.8vw;
    margin-top: 1.5vw;
    margin-bottom: 0.4vw;
}

.wide-video{
    width: 100%; 
    margin-bottom: 0.3vw;   
    border-radius: 10px;
    overflow: hidden; 
}

.half-video{
    width: 50%; 
    margin-bottom: 0.3vw;   
    border-radius: 10px;
    overflow: hidden; 
}



.info-text {
    padding-top: 0.75vw;
    padding-bottom: 0.75vw;
    white-space: pre-line;
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease;
    padding-right: calc(40vw - 400px);
    font-size: calc(1vw + 2px);
    display: none; /* start hidden */
    font-family: 'Lol-Regular', monospace;
    
}

.info-butt {
    position: relative; /* <<< add this */
    padding-right: 0px; 
    padding-left: 0px; 
    cursor: pointer; 
    border: 0; 
    background-color: rgba(0,0,0,0); 
    margin-left: auto; 
    color: var(--accent-color);
    font-family: 'ConsolasCustom', monospace;
    font-size: 0.9vw;
}

.info-butt::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;   
    bottom: -0.1vw;      /* distance from text */
    width: 0%;
    height: 1px;       /* thickness of underline */
    background-color: var(--accent-color);
    transition: width 0.3s ease;
}

.info-butt:hover::after {
    width: 100%;       /* animate underline to full width */
}

.carousel-track {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.carousel-track::-webkit-scrollbar {
    display: none;
}

.slide {
    flex: 0 0 auto;
}

 .cursor-circle {
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
    opacity: 0.1; /* 50% opacity */
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 9999;
  }